body{background: #ebebeb; color: #555; font-size: 12px; padding: 0; margin: 0;}
footer{ text-align: center;}

/* 导航 */
header{position: relative;overflow: hidden; padding: 0 20px; background-color: #393D49; color: #c2c2c2; vertical-align: middle; line-height: 60px;}
.logo_text{ font-size: 18px;  display: block;  color: #fff; transition: all .3s;  -webkit-transition: all .3s; }
.logo_text:hover{ font-size: 20px;}
.layui-layer-btn{text-align: center!important;}

/*左侧菜单*/
.layui-nav-side{ top:60px; border-radius: 0;}

.layui-nav-item .layui-icon {position: relative;    top: 2px; font-size: 20px;}
.layui-nav-item a cite{ padding: 0 5px;}

/*public*/
.bh_fl{ float: left;}
.bh_fr{ float: right;}

.w_500{width: 500px;}

.bh_content{ position: fixed;left:0;top:60px;bottom: 0; overflow-x: hidden;z-index: 1;box-sizing: border-box!important;
    padding:25px;padding-left: 225px;background: #fff; ;width: 100%; min-width: 1230px; height:100%
}
.layui-elem-field{ max-width: 1000px;}
.layui-field-box{ padding: 30px;overflow: hidden;    min-height: 350px;}


/* login*/
.top_div{background:#2D9CC9;width: 100%;height:300px;}
.tou{background: url("../images/tou.png") no-repeat;width: 97px;height: 92px;position: absolute;top: -87px;left: 140px;}
.left_hand{background: url("../images/left_hand.png") no-repeat;width: 32px;height: 37px;position: absolute;top: -38px;left: 150px;}
.right_hand{background: url("../images/right_hand.png") no-repeat;width: 32px;height: 37px;position: absolute;top: -38px;right: -64px;}
.initial_left_hand{background: url("../images/hand.png") no-repeat;width: 30px;height: 20px;position: absolute;top: -12px;left: 100px;}
.initial_right_hand{background: url("../images/hand.png") no-repeat;width: 30px;height: 20px;position: absolute;top: -12px;right: -112px;}
.login{background: rgb(255, 255, 255); margin: -100px auto 50px auto; border: 1px solid #ddd;border-radius: 8px; width:380px;}
.login label{padding:10px;font-size:14px;margin-left:10px;color:#888;}
.login img{ height:37px;vertical-align:bottom;margin-left:15px;border-radius: 4px;}
.logo{width: 165px; height: 96px; position: absolute;}
.log{padding: 30px 0px 10px; position: relative;}
.other{position: relative;margin-bottom:15px;}
.ipt{border: 1px solid #d3d3d3;padding: 10px 10px;width: 250px;border-radius: 4px;padding-left:5px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s}
.ipt:focus{border-color: #66afe9;outline: 0;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
.w120{width:110px;}
.bottom{ line-height: 50px; margin-top: 30px; border-top-color: rgb(231, 231, 231); border-top-width: 1px; border-top-style: solid;}
.bottom .bh_btn{     width: 250px; margin: 10px auto; display: block;  height: 37px; background:#2D9CC9; padding: 7px 10px; border-radius: 4px; border: 1px solid #2D9CC9; color:#fff; font-weight: bold; margin-top: 10px;cursor:pointer;}
#code_img{ width: 125px; height: 37px; border:1px solid #d3d3d3; border-radius: 3px;vertical-align: middle;  margin-left: 5px;}
.black_overlay{  display: none;position:absolute;top:0%;left:0%;width:100%;height:100%;background:#333;z-index:1001;-moz-opacity: 0.8;opacity:.80;filter: alpha(opacity=80);}

/*首页 */

.bh_list_text li { line-height: 35px;  border-bottom: 1px dashed #eaeaea;}
.bh_list_text li label { color: #909090; display: inline-block; width: 150px; padding-right: 10px; text-align: right;    margin-right: 15px; vertical-align: middle;font-family: tahoma; }
.bh_list_text li span {  font-size: 15px;vertical-align: middle;}



/* 列表 */
.bh_list{ position: relative; overflow: hidden;width: 100%; font-size: 14px;color: #333; line-height: 38px;border-left:1px solid #e2e2e2;border-right:1px solid #e2e2e2; }
.bh_list .bh_list_title{ position: relative; overflow: hidden;width: 100%; background:#393D49; color: #fff;   }
.bh_list .bh_list_item{ position: relative; overflow: hidden;width: 100%; border-bottom:1px solid #e2e2e2; padding: 3px 0;}
.bh_list .bh_list_item > div{ float: left; width: 13%;text-align: center;  }
.bh_list .bh_list_item > div.operation{ float: right;   width: 20%; }
.bh_list .bh_list_item > div.date{     margin-left: 20px; width: 150px; }

/*分类*/
.bh_list_cate .bh_list_item > div.bin_icon{ width:50px; min-height: 1px; }
.bh_list_cate .bh_list_item > div.bin_icon .layui-icon{ cursor: pointer; display: block; margin-top: 8px;font-size: 1.6em;line-height: 1.2; }
.bh_list_cate .bh_list_item > div.cate{  text-align: left; width: 40% }
.bh_list_cate .bh_list_item .tab-sign {   display: inline-block;   height: 21px; vertical-align: middle; background-image: url(../images/tab_sign.png);  background-repeat: no-repeat;  width: 55px;  background-position: 0 0;  margin-left: 5px; }

/* 文章 */
.bh_list_article .bh_list_item > div.title{  text-align: left; width: 35%; max-width: 300px; padding:0 15px; }



.site-demo-upload,
.site-demo-upload img{width: 150px; height: 150px; border-radius: 100%;}
.site-demo-upload{position: relative; background: #e2e2e2;}
.site-demo-upload .site-demo-upbar{position: absolute; top: 50%; left: 50%; margin: -18px 0 0 -56px;}
.site-demo-upload .layui-upload-button{background-color: rgba(0,0,0,.6); color: rgba(255,255,255,1);}
